body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

.container {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #007bff;
    width: 98%;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .main {
    max-width: 800px;
    margin: auto;
    text-align: justify;
    line-height: 1.6;
    font-size: 1.1rem;
  }
  