body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

.header {
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  gap: 15px;
}

.navLink {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.loginContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}

.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.welcomeMessage {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
